@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch";

@import "theme/separator";

@import "~react-bootstrap-typeahead/css/Typeahead.scss";

.rbt-token {
  background-color: $gray-300;
  color: $primary;

  &-active {
    background-color: $primary;
    color: $color-white;
  }
}

.mt--8 {
  margin-top: -8rem;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  // margin-bottom: 0.125rem;

  & .form-check-input {
    float: left;
    margin-left: -1.5em;
  }
}

.react-toast-notifications__container {
  z-index: 1031!important;
}